*.metadata
*.xlsx
/target/
/config-filtered/
*.jar
*.class
.settings
.classpath
.buildpath
.project
/bin/
*.pem
*.ppk
*.exe
*.rar
*.pdf
Thumbs.db
*/dos2unix/*
/log/
*.ignore
/launches/
/output/
*.snag
*.tar
*.7z
*.xz
*.gz
*FULL.log
*backup*.sql
deploy-bucket/lib/
.git.bak