.content a, .content a > strong {
	color: #0B87DF !important;
}
h1 > a > span, h2 > a > span, h3 > a > span, h4 > a > span, h5 > a > span {
	color: #333333;
}
:root {
	--content-max-width: 75em;
}
body {
	font-family: 'Open Sans',sans-serif;
}

.sidebar-nav > ul > li > ul > li > ul > li > a {
	font-size: 11pt;	
	margin-left: 12pt;
}
