/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
body {
	font-family: 'Open Sans',sans-serif;
	color: #4D4D4D;
	line-height:34px;
}

/* HEADERS */
h1 {
	margin: 40px 0 14px 0 !important;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size:38px;
	font-weight:600;
	line-height:60px;
}
h2 {
	margin: 48px 0 24px 0 !important;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size:28px;
	font-weight:400;
	line-height:44px;
}
/* Blog directory headers */
h2 > a[itemprop="url"] {
	line-height:64px;
}
/* Blog titles and subtitles */
article[itemprop="blogPost"] h1, 
article[itemprop="blogPost"] h2 {
	margin-top:0px !important;
}
article[itemprop="blogPost"] > footer > div > a {
	font-size:24px;
	white-space: nowrap;
	overflow: hidden;
}
article[itemprop="blogPost"] > footer > div > a::after {
	content: " \2794" !important;
	font-weight: 400;
}
/* MOBILE STYLES */
@media screen and (max-width: 576px) {
  /* Blog titles and subtitles */
  h1, h2, lw-blog-subtitle {
    margin-top:24px !important;
  }
  /* Blog directory headers */
  h2 > a[itemprop="url"] {
    line-height:44px;
  }
  article[itemprop="blogPost"] h1,
  article[itemprop="blogPost"] h2 {
  	line-height:48px;
  }
}
h2:after
{
	margin: 24px 0;
    content:' ';
    display:block;
    border: none;
    background-color: var(--table-bg-color-dark);
    color: #ccc;
    height: 1px;
}
h3 {
	margin: 48px 0 20px 0 !important;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size:20px;
	font-weight:600;
	line-height:32px;
}
h4 {
	margin: 48px 0 20px 0 !important;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size:16px;
	font-weight:600;
}
lw-subtitle {
	font-weight: 400;
	font-size:18px;
}
lw-emphasis {
	font-weight: 600;
}
/* match h2 */
lw-blog-subtitle {
	margin: 48px 0 24px 0 !important;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size:28px;
	font-weight:400;
	line-height:44px;
}
.hash-link::before {
	content: "\1F517" !important;
	font-weight: 400;
}
.header-github-link:before {
	content: '';
	width: 24px;
	height: 24px;
	display: flex;
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
	  no-repeat;
}
.header-github-link:hover {
	opacity: 0.6;
}
.header-x-link:before {
	content: '';
	width: 24px;
	height: 24px;
	display: flex;
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/%3E%3C/svg%3E")
	  no-repeat;
}
.header-x-link:hover {
	opacity: 0.6;
}
.header-discord-link:before {
	content: '';
	width: 24px;
	height: 24px;
	display: flex;
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='blue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z'/%3E%3C/svg%3E")
	  no-repeat;
}
.header-discord-link:hover {
	opacity: 0.6;
}

/* BODY */
p {
	margin: 0 0 20px 0 !important;
}
blockquote {
	margin: 42px 0 42px 0;
}
iframe {
	margin: 0 0 24px 0;
}
hr {
	margin: 42px 0 42px 0;
}
.blueButton {
  margin: 24px 0 0 0;
  padding: 14px 16px;
  align-items: center;
  appearance: button;
  background-color: var(--ifm-color-primary);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.blueButton:active {
  background-color: #006AE8;
}
.blueButton:hover {
  background-color: #4566D6;
}

/* PREV / NEXT PAGE FOOTERS */
.pagination-nav__label {
	margin-top: 8px;
	line-height: 24px;
}

/* LISTS */
/* (apply to lists within page content only) */
.markdown ol > li {
	margin-bottom: 14px;
	padding-left: 8px;
	line-height:30px;
}
/* (apply to lists within page content only, except for tabs) */
.markdown ul:not(.tabs) > li {
	margin-bottom: 14px;
	padding-left: 8px;
	line-height:30px;
}
li::marker {
	font-weight:600;
}
ul.table-of-contents > li {
	margin-bottom: 14px;
	margin-left: 12px;
}
li > h2 {
	margin: 0 !important;
	font-size: 18px !important;
	font-weight: 500 !important;
	line-height: 36px !important;
}
li > h2:after {
	display:none !important;
}
li > h3 {
	margin: 0 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	line-height: 30px !important;
}
li > h3:after {
	display:none !important;
}

/* Links */
a {
  color: var(--ifm-color-primary);
}
a:hover {
  color: #1A2B6B;
}

/* Breadcrumbs */
.breadcrumbs__link {
	font-size:16px;
	padding: 5px 12px;
	vertical-align:middle;
}
a[aria-label="Home page"] > svg {
	margin-top:6px;
}
span.breadcrumbs__link {
	color: #333 !important;
	background-color: var(--table-bg-color-light) !important;
}
a.breadcrumbs__link {
	color: var(--ifm-color-primary) !important;
	background-color: var(--table-bg-color-light) !important;
}
a.breadcrumbs__link:hover {
	background-color: var(--table-bg-color-dark) !important;
}

/* Code boxes and excerpts */
code {
	background-color: var(--table-bg-color-dark);
}

/* Alert boxes */
.alert--success {
	margin: 40px 0 !important;
    padding: 28px;
    background-color: #EEF9FD;
    --ifm-alert-border-color: #0B87DA;
}
.alert--success p {
	margin: 0 !important;
}
.alert--success a {
	text-decoration: none;
}
.alert--success a:hover {
	text-decoration: underline;
}
.alert--info {
	margin: 40px 0 !important;
    padding: 28px;
    background-color: #EEF9FD;
    --ifm-alert-border-color: #0B87DA;
}
.alert--info p {
	margin: 0 !important;
}
.alert--info a {
	text-decoration: none;
}
.alert--info a:hover {
	text-decoration: underline;
}
.alert--warning {
	margin: 40px 0 !important;
	padding: 28px;
    background-color: #FBEFF3;
    color: #DA0B50;
    --ifm-alert-border-color: #DA0B50;
}
.alert--warning p {
	margin: 0 !important;
}
.alert--warning a {
	text-decoration: none;
}
.alert--warning a:hover {
	text-decoration: underline;
}
.alert--danger {
	margin: 40px 0 !important;
	padding: 28px;
}
.alert--danger p {
	margin: 0 !important;
}
.alert--danger a {
	text-decoration: none;
}
.alert--danger a:hover {
	text-decoration: underline;
}

/* Code blocks */
div[class^='codeBlockTitle'] {
	display: none;	/* remove any code block titles forced by @saucelabs/theme-github-codeblock plugin */
}
.codeBlockContent_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module > pre > code {
	background-color: #F7F7F7; /* code block background color */
}

/* SIDEBAR */
/* Sidebar box */
nav[aria-label="Docs sidebar"] {
	padding: 8px 0 60px 8px;
	background-color: #EEF9FD;
}
.sidebarGroupRuler {
	background-color: var(--table-bg-color-dark);
	margin-top: 14px;
	margin-bottom: 0px;
}
/* Sidebar items default */
.menu__link {
	font-family: 'Open Sans',sans-serif;
	color: #4D4D4D;
	font-weight: 400;
	font-size: 15px;
}
/* Sidebar category title */
.sidebarGroupTitle {
	margin-top: 16px;
	font-family: 'Open Sans',sans-serif;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
/* Sidebar item parent nodes */
.menu__list-item-collapsible--active > a {
	color: var(--ifm-color-primary);
}
/* Sidebar items leaf nodes */
.menu__list-item-collapsible--active > a {
	color: var(--ifm-color-primary);
}
.menu__list-item > a.menu__link--active {
	color: var(--ifm-color-primary);
}

/** TABS / TABLES */
table {
	padding-top: 4px;
}
/* Header row */
thead > tr {
	background-color: var(--table-bg-color-dark);
}
/* Tabs box */
.tabs {
	font-size: 15px;
	font-weight: 400;
	background-color: var(--table-bg-color-light);
	border-left: 1px solid var(--table-bg-color-dark);
	border-right: 1px solid var(--table-bg-color-dark);
	border-top: 1px solid var(--table-bg-color-dark);
}
/* Tab defaults */
.tabs__item {
	border-right: 1px solid var(--table-bg-color-dark);
	border-radius: 0;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
/* Inactive tab */
.tabs__item[aria-selected='false'] {
	color: #B3988E;
	border-bottom: 1px solid var(--table-bg-color-dark);
	padding-top: 18px;
}
/* Active tab */ 
.tabs__item[aria-selected='true'] {
	background-color: #FFF;
	border-top: 3px solid;
	border-top-color: #0B87DA;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom: 0;
}
/* Entire tab's content panel */
.tabs-container > .margin-top--md {
	padding: 24px 24px 24px 24px;
	margin: 0 !important;
	border-left: 1px solid var(--table-bg-color-dark);
	border-right: 1px solid var(--table-bg-color-dark);
	border-bottom: 1px solid var(--table-bg-color-dark);
}

/* TABLE OF CONTENTS (right-hand anchors) */
.table-of-contents {
	font-size:14px;
}
.table-of-contents li {
	margin: 0.7rem 0.5rem;
}
.table-of-contents__link--active {
	font-weight: 600;
}

/* FOOTER */
.footer__link-item {
	color: #87c6ef;
}

:root {
  --table-bg-color-light: #F2F2F2;
  --table-bg-color-dark: #E3E3E3;
  --ifm-color-primary: #375BD2;
  --ifm-color-primary-dark: #295578;
  --ifm-color-primary-darker: #275171;
  --ifm-color-primary-darkest: #20425d;
  --ifm-color-primary-light: #336892;
  --ifm-color-primary-lighter: #356d99;
  --ifm-color-primary-lightest: #3c7bad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6dc1fd;
  --ifm-color-primary-dark: #49b2fd;
  --ifm-color-primary-darker: #37aafc;
  --ifm-color-primary-darkest: #0393fa;
  --ifm-color-primary-light: #91d0fd;
  --ifm-color-primary-lighter: #a3d8fe;
  --ifm-color-primary-lightest: #d8eefe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}